.password-and-privacy {
  border-radius: 24px;
  background: #fff;
  box-shadow: 1px 2px 4px 0px rgba(213, 224, 236, 0.7);
  padding: 15px 35px 25px 26px;
  h1 {
    color: #5460cb;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px; /* 128.571% */
    letter-spacing: -0.588px;
    margin-bottom: 14px;
  }
  .item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .form-section1 {
    border-bottom: 1px solid #d5e0ec;
    padding-bottom: 34px;
    .group-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 23px;
    }
  }
  .form-section2 {
    margin-top: 24px;
    border-bottom: 1px solid #d5e0ec;
    padding-bottom: 37px;
    .group-wrapper1 {
      display: grid;
      grid-template-columns: 0.5fr;
      margin-bottom: 21px;
    }
    .group-wrapper2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 23px;
    }
  }
  .information {
    margin-top: 24px;
    p {
      color: #5460cb;
      letter-spacing: -0.176px;
      margin-bottom: 16px;
    }
    .message {
      border-bottom: 1px solid #d5e0ec;
      padding-bottom: 29px;
      .all {
        margin-bottom: 16px;
      }
      .choose {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
      }
    }

    .what-info {
      margin-top: 16px;
      border-bottom: 1px solid #d5e0ec;
      padding-bottom: 29px;
      .what-info-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
      }
    }

    .who-can-see-your-profile {
      margin-top: 16px;
      border-bottom: 1px solid #d5e0ec;
      padding-bottom: 29px;
      .all {
        margin-bottom: 16px;
      }
      .choose {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
      }
    }

    .block {
      margin-top: 16px;
      .item-wrapper {
        margin: 16px 0 25px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        .item {
          position: relative;
          padding: 16px;
          border-radius: 16px;
          border: 1px solid var(--Light-Gray, #eef2f7);
          background: #fff;
          box-shadow: 1px 2px 4px 0px rgba(213, 224, 236, 0.7);
          .close-btn {
            position: absolute;
            top: 5px;
            right: 7px;
            cursor: pointer;
          }
        }
      }
      button {
        height: 40px;
        padding: 8px 16px;
      }
    }
  }
  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 26px;
    button {
      width: 89px;
      height: 40px;
    }
  }
  @media (max-width: 576px) {
    .form-section1 {
      .group-wrapper {
        grid-template-columns: 1fr;
      }
    }
    .form-section2 {
      .group-wrapper1 {
        grid-template-columns: 1fr;
      }
      .group-wrapper2 {
        grid-template-columns: 1fr;
      }
    }
  }
}

.add-block-list {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 22px;
  z-index: 10;
  .inner {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    background: white;
    overflow: hidden;
  }
  .header {
    padding: 16px 24px;
    background: #5460cb;
    color: white;
  }
  .content {
    padding: 24px;
    p {
      font-size: 14px;
    }
    .search {
      margin-top: 11px;
      label {
        font-family: "Poppins-Regular";
        font-size: 14px;
        color: black;
      }
    }
  }
  .footer {
    padding: 12px 24px;
    .btn-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      button {
        height: 40px;
        padding: 8px 16px;
      }
      button:disabled {
        opacity: 1;
        border: 1px solid #e0e0e0;
        background: #ededed;
        box-shadow: none;

        span {
          color: #9e9e9e;
        }
      }
    }
  }
}
