<div class="password-and-privacy">
  <div class="inner">
    <form action="">
      <div class="form-section1">
        <h1>Email</h1>
        <div class="group-wrapper">
          <div class="form-group-grandora">
            <label for="">Email</label>
            <input type="text" placeholder="Your email address" />
          </div>
          <div class="form-group-grandora">
            <label for="">Confirm Email</label>
            <input type="text" placeholder="Your email address" />
          </div>
        </div>
      </div>
      <div class="form-section2">
        <h1>Password</h1>
        <div class="group-wrapper1">
          <div class="form-group-grandora">
            <label for="">Current Password</label>
            <input type="text" placeholder="Your password" />
          </div>
        </div>
        <div class="group-wrapper2">
          <div class="form-group-grandora">
            <label for="">New Password</label>
            <input type="text" placeholder="Your new password" />
          </div>
          <div class="form-group-grandora">
            <label for="">Repeat Password</label>
            <input type="text" placeholder="Input Placeholder" />
          </div>
        </div>
      </div>
      <div class="information">
        <h1>Information</h1>

        <div class="message">
          <p>Who can send you a message?</p>
          <div class="all">
            <div class="item">
              <div class="slide-toggle-grandora"></div>
              <span>Anyone can message me</span>
            </div>
          </div>
          <div class="choose">
            <div class="item" *ngFor="let item of whoCanSendMessage">
              <div
                class="slide-toggle-grandora"
                [ngClass]="item?.isToggle ? 'active' : ''"
                (click)="item.isToggle = !item.isToggle"
              ></div>
              <span>{{ item?.title }}</span>
            </div>
          </div>
        </div>

        <div class="what-info">
          <p>What information you want to show on your profile?</p>
          <div class="what-info-item">
            <div class="item" *ngFor="let item of whatInfo">
              <div
                class="slide-toggle-grandora"
                [ngClass]="item?.isToggle ? 'active' : ''"
                (click)="item.isToggle = !item.isToggle"
              ></div>
              <span>{{ item?.title }}</span>
            </div>
          </div>
        </div>

        <div class="who-can-see-your-profile">
          <p>Who can see your profile?</p>
          <div class="all">
            <div class="item">
              <div class="slide-toggle-grandora"></div>
              <span>Anyone can see my profile</span>
            </div>
          </div>
          <div class="choose">
            <div class="item" *ngFor="let item of whoCanSeeYourProfile">
              <div
                class="slide-toggle-grandora"
                [ngClass]="item?.isToggle ? 'active' : ''"
                (click)="item.isToggle = !item.isToggle"
              ></div>
              <span>{{ item?.title }}</span>
            </div>
          </div>
        </div>

        <div class="block">
          <p>Block some of people from viewing your profile</p>
          <div class="item-wrapper">
            <div class="item" *ngFor="let item of blocked_users">
              <div class="icon">
                <img src="{{ item.image }}" />
              </div>
              <div class="info">
                <div class="name">{{ item.name }}</div>
                <div class="username">{{ item.username }}</div>
                <div class="close-btn">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="29"
                    height="30"
                    viewBox="0 0 29 30"
                    fill="none"
                  >
                    <rect
                      x="6.48438"
                      y="8.51953"
                      width="2"
                      height="20"
                      rx="1"
                      transform="rotate(-45 6.48438 8.51953)"
                      fill="#5460CB"
                    />
                    <rect
                      x="20.625"
                      y="7.33984"
                      width="2"
                      height="20"
                      rx="1"
                      transform="rotate(45 20.625 7.33984)"
                      fill="#5460CB"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <button
            class="secondary-btn"
            type="button"
            (click)="isBlockListDisplay = true"
          >
            <span>+ Add to block list</span>
          </button>
        </div>
      </div>
      <div class="btn-wrapper">
        <button class="secondary-btn" type="button">
          <span>Cancel</span>
        </button>
        <button class="primary-btn" type="button">
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="add-block-list" *ngIf="isBlockListDisplay">
  <div class="inner">
    <div class="header">Add to block list</div>
    <div class="content">
      <p>Search by name or username to add to block list</p>
      <div class="search">
        <label for="search">Search</label>
        <input
          type="text"
          placeholder="Search by name or username"
          id="search"
          [(ngModel)]="name"
        />
      </div>
    </div>
    <div class="footer">
      <div class="btn-wrapper">
        <button
          class="secondary-btn"
          type="button"
          (click)="isBlockListDisplay = false"
        >
          <span>Cancel</span>
        </button>
        <button class="primary-btn" type="button" [disabled]="!name">
          <span>Block</span>
        </button>
      </div>
    </div>
  </div>
</div>
