<section id="community-component">
  <swiper-container init="false" #swiperRef>
    <swiper-slide>
      <div class="community discord">
        <div class="inner">
          <div class="content">
            <h1>
              Join our <br />
              community
            </h1>
            <div class="btn-wrapper">
              <a href="https://discord.gg/K7qQYPAePx" target="_blank">
                <button>
                  <span>Click!!</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="community reddit">
        <div class="inner">
          <div class="content">
            <h1>
              Join our <br />
              community
            </h1>
            <div class="btn-wrapper">
              <button>
                <span>Click!!</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  <div class="pagination-wrapper">
    <div class="slidePrev-btn">
      <img src="/assets/images/community/prev-button.png" alt="prev-button" />
    </div>
    <div class="slideNext-btn">
      <img src="/assets/images/community/next-button.png" alt="next-button" />
    </div>
  </div>
</section>
