<section id="contact">
  <div class="inner">
    <div class="contact-section1">
      <div class="text">
        <div class="sub-title">Lorem ipsum dolor</div>
        <div class="title">Get in touch!</div>
      </div>
    </div>
    <div class="contact-section2">
      <div class="wrapper">
        <h1>
          Lorem ipsum dolor sit amet,<br />
          consectetur adipiscing
        </h1>
        <div class="content">
          <div class="item">
            <div class="content-header">
              <div class="role">Game Producer</div>
              <div class="email">gameproducer@ygg-cg.com</div>
              <div class="name">Aunchaya Thanapornkaitikul</div>
            </div>
            <div class="content-footer"></div>
          </div>
          <div class="item">
            <div class="content-header">
              <div class="role">Marketing & PR</div>
              <div class="email">smith@ygg-cg.com</div>
              <div class="name">Smith Phrommintr</div>
            </div>
            <div class="content-footer"></div>
          </div>
          <div class="item">
            <div class="content-header">
              <div class="role">Customer Service & Technical Support</div>
              <div class="email">grdsupport@ygg-cg.com</div>
              <div class="name opacity-0">Aunchaya Thanapornkaitikul</div>
            </div>
            <div class="content-footer"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-section3">
      <div class="content">
        <div class="title">YGGDRAZIL GROUP PUBLIC CO.,LTD</div>
        <p>
          348 Soi Ladproao 94 (Punjamitr), Phlapphla, Wangthonglang, Bangkok.
          10310
        </p>
      </div>
    </div>
    <div class="community">
      <app-community></app-community>
    </div>
  </div>
</section>
