<section id="privacy-policy">
  <div class="inner">
    <div class="back-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="24"
        viewBox="0 0 18 24"
        fill="none"
        routerLink="/sign-up"
      >
        <path
          d="M6 12.8L18 24L12 24L9.79135e-07 12.8L12 -5.24537e-07L18 0L6 12.8Z"
          fill="#5460CB"
        />
      </svg>
      <span>Privacy Policy</span>
    </div>

    <div class="wrapper">
      <div class="title">Updated May 20, 2023</div>
      <div class="content">
        <div class="overflow-container">
          <div class="item item1">
            <div class="item-title">1. INTRODUCTION</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
              condimentum eget purus in. Consectetur eget id morbi amet amet,
              in. Ipsum viverra pretium tellus neque. Ullamcorper suspendisse
              aenean leo pharetra in sit semper et. Amet quam placerat sem.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="item item2">
            <div class="item-title">2. INFORMATION WE PROCESS.</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
              condimentum eget purus in. Consectetur eget id morbi amet amet,
              in. Ipsum viverra pretium tellus neque. Ullamcorper suspendisse
              aenean leo pharetra in sit semper et. Amet quam placerat sem.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim adminim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit involuptate velit esse cillum dolore eu fugiat nulla
              pariatur.
            </p>
          </div>
          <div class="item item3">
            <div class="item-title">3. Sensitive Personal Data</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
              condimentum eget purus in. Consectetur eget id morbi amet amet,
              in. Ipsum viverra pretium tellus neque. Ullamcorper suspendisse
              aenean leo pharetra in sit semper et. Amet quam placerat sem.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim adminim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit involuptate velit esse cillum dolore eu fugiat nulla
              pariatur.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
