<div id="forgot-password">
  <div class="inner">
    <div class="back-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="24"
        viewBox="0 0 18 24"
        fill="none"
        routerLink="../"
      >
        <path
          d="M6 12.8L18 24L12 24L9.79135e-07 12.8L12 -5.24537e-07L18 0L6 12.8Z"
          fill="#5460CB"
        />
      </svg>
      <span>Forgot Password</span>
    </div>

    <form
      class="forgot-password grandora-form"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="handleForgotPassword()"
      *ngIf="step === 1"
    >
      <div class="title">
        <span>Don't worry!</span>
        <span>Forgot Password?</span>
      </div>

      <div class="wrapper">
        <div class="form-group-grandora email">
          <label for="">Email address<span>*</span></label>
          <div
            class="input-wrapper"
            [ngClass]="email.invalid && email.touched ? 'invalid' : ''"
          >
            <input
              type="text"
              placeholder="Enter email address"
              formControlName="email"
            />
          </div>

          <div class="error-msg" *ngIf="email.invalid && email.touched">
            <small class="text-error" *ngIf="email.errors?.['required']"
              >The field is required.</small
            >
            <small class="text-error" *ngIf="email.errors?.['pattern']"
              >Please enter a valid email address.</small
            >
          </div>
        </div>
        <div class="btn-wrapper">
          <button class="" type="submit">Send Reset Link</button>
        </div>
        <div class="signin-wrapper">
          <span>Remember Password?</span>
          <a routerLink="/sign-in">Sign In</a>
        </div>
      </div>
    </form>

    <form class="email-check grandora-form" *ngIf="step === 2">
      <div class="title">
        <span>Pleases wait!</span>
        <span>Check your Email</span>
      </div>
      <p>
        We have sent an email with password reset information to
        n****e@e***e.com.
      </p>
      <div class="btn-wrapper">
        <button class="" type="button" (click)="step = step + 1">
          Resend Email
        </button>
      </div>
    </form>

    <form
      class="reset-password grandora-form"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="handleResetPassword()"
      *ngIf="step === 3"
    >
      <div class="title">
        <span>Careful! New password must be unique.</span>
        <span>Reset password?</span>
      </div>
      <div class="wrapper">
        <div class="form-group-grandora password">
          <label for="">Password</label>
          <div
            class="input-wrapper"
            [ngClass]="password.invalid && password.touched ? 'invalid' : ''"
          >
            <input
              type="password"
              placeholder="Enter your password"
              formControlName="password"
            />
          </div>

          <div class="error-msg" *ngIf="password.invalid && password.touched">
            <small class="text-error" *ngIf="password.errors?.['required']"
              >The field is required.</small
            >
            <small
              class="text-error long"
              *ngIf="password.errors?.['pattern'] || password.errors?.['minlength'] || password.errors?.['maxlength']"
              >The password must be between 8-16 characters, consisting of a
              mixture of English alphabets, numbers or symbols.</small
            >
          </div>
        </div>
        <div class="form-group-grandora confirm-password">
          <label for="">Confirm Password</label>
          <div
            class="input-wrapper"
            [ngClass]="
              confirm_password.invalid && confirm_password.touched
                ? 'invalid'
                : ''
            "
          >
            <input
              type="password"
              placeholder="Confirm your password"
              formControlName="confirm_password"
            />
          </div>

          <div
            class="error-msg"
            *ngIf="confirm_password.invalid && confirm_password.touched"
          >
            <small
              class="text-error"
              *ngIf="confirm_password.errors?.['required']"
              >The field is required.</small
            >
            <small
              class="text-error"
              *ngIf="confirm_password.errors?.['MustMatch']"
              >The passwords you entered do not match.</small
            >
          </div>
        </div>
      </div>
      <div class="btn-wrapper">
        <button class="" type="submit">Reset Password</button>
      </div>
    </form>
  </div>
</div>
