#forgot-password {
  min-height: 100vh;
  padding: 120px 0;
  background: url("/assets/images/setting/setting-bg.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  font-size: 14px;
  .inner {
    padding: 0 25px;
  }

  .grandora-form {
    padding: 36px 90px 100px 90px;
    .title {
      margin-bottom: 16px;
      span {
        display: block;
      }
      span:nth-of-type(1) {
        color: #000;
        font-size: 20px;
      }
      span:nth-of-type(2) {
        color: #000;
        font-size: 55px;
        font-weight: bold;
      }
    }
    .signin-wrapper {
      margin-top: 24px;
      font-size: 18px;
      span {
        color: #1e232c;
        margin-right: 5px;
      }
      a {
        font-family: "Poppins-SemiBold";
        color: #ffb900;
      }
    }

    .btn-wrapper {
      text-align: center;
      margin-top: 66.5px;
      button {
        font-size: 18px;
        font-family: "Poppins-SemiBold";
        border: none;
        border-radius: 32px;
        background: #757fef;
        width: 100%;
        height: 56px;
        color: white;
      }
    }
  }

  .grandora-form.email-check {
    padding: 36px 90px 186px 90px;
    p {
      color: #5b5b98;
      font-size: 18px;
    }
    .btn-wrapper {
      margin-top: 24px;
    }
  }

  .grandora-form.reset-password {
    .form-group-grandora {
      margin-bottom: 28px;
    }
    .form-group-grandora:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    .grandora-form {
      padding: 36px 25px !important;
    }
  }

  @media (max-width: 576px) {
    .grandora-form {
      padding: 36px 15px !important;
      .title {
        span:nth-of-type(2) {
          font-size: 36px;
        }
      }
    }
  }
}
