.primary-btn-grandora {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  border: 1px solid #5460cb;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

  color: #5460cb;
  font-size: 16px;
  letter-spacing: -0.176px;
}

.primary-btn-grandora.large {
  display: flex;
  padding: 18px 41px;
  align-items: center;
  justify-content: center;

  border: 1px solid #5460cb;
  border-radius: 70px;
  background: #fff;

  color: #5460cb;
  font-size: 30px;
  letter-spacing: -0.9px;
  @media (max-width: 1024px) {
    font-size: 24px;

    line-height: 120%;
    letter-spacing: -0.72px;
    max-height: 42px;
  }

  @media (max-width: 450px) {
    font-size: 20px;

    letter-spacing: -0.6px;
  }
}

.linear-btn-grandora {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  border: 1px solid #5460cb;
  border-radius: 24px;
  background: white;
  span {
    background: linear-gradient(118deg, #5460cb 29.93%, #cc90e6 107.01%);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #5460cb;
    font-size: 16px;
    letter-spacing: -0.176px;
  }
}
