#setting {
  min-height: 100vh;
  padding: 120px 0;
  background: url("/assets/images/setting/setting-bg.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  .inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 22px;
    .title {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 31px;
      span {
        color: #5460cb;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.588px;
      }
    }
    .wrapper {
      display: grid;
      grid-template-columns: 160px 1fr;
      gap: 20px;
    }
    svg {
      cursor: pointer;
    }
  }

  .profile-setting-sidebar {
    .page-list {
      background: white;
      filter: drop-shadow(1px 2px 4px rgba(213, 224, 236, 0.7));
      padding: 10px 6px;
      font-size: 12px;
      border-radius: 16px;
      width: 160px;
      .item {
        position: relative;
        border-bottom: 2px solid #d5e0ec;
        cursor: pointer;
        .item-wrapper {
          display: grid;
          grid-template-columns: 16px 1fr;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 9px 15px 13px 10px;
        }
        &::before {
          content: "";
          display: none;
          position: absolute;
          top: 1px;
          left: 0;
          width: 5px;
          height: 90%;
          background: #ffb900;
        }
      }
      .item.active {
        &::before {
          display: block;
        }
      }
      .item:last-of-type {
        border-bottom: none;
      }
      .item-icon {
        position: relative;
        top: 2px;
      }
      .item-name {
        position: relative;
        top: 1px;
        color: #5460cb;
      }
    }
  }

  @media (max-width: 1200px) {
    .wrapper {
      gap: 20px !important;
    }
  }
  @media (max-width: 576px) {
    .wrapper {
      grid-template-columns: 1fr !important;
      .page-list {
        width: 100%;
      }
    }
  }
}
