.dropzone::ng-deep {
  min-height: 156px !important;

  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%235460CBFF' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;

  .content {
    text-align: center;
    pointer-events: none;
    .image {
      margin-bottom: 4px;
      img {
        margin: 0 auto;

        height: 54px;
      }
    }
    .text {
      color: #757575;

      font-size: 12px;

      line-height: 20px;
      letter-spacing: -0.072px;
      text-decoration: underline;
      span {
        color: #5460cb;
        font-family: "Poppins-SemiBold";
      }
    }
  }

  .dz-message {
    display: none;
  }
}

.dropzone.feed::ng-deep {
  min-height: 338px !important;
  .content {
    padding-top: 90px
  }
  .text {
    text-decoration: none;
    line-height: 20px;
    p:nth-of-type(1) {
      margin-top: 8px;
      font-family: "Poppins-SemiBold";
      color: #5460cb;
      font-size: 20px;
      letter-spacing: -0.12px;
    }
    p:nth-of-type(2) {
      color: #5460cb;
      font-size: 12px;
      letter-spacing: -0.072px;
    }
  }
}
