.social-friend {
  padding-top: 65px;
  .textarea {
    box-shadow: none;
    background: white;
    color: #5460cb;
  }

  .social-friend-section1 {
    background: #5460cb;
    min-height: 10vh;
    .wrapper {
      max-width: 1057px;
      margin: 0 auto;
    }
    .title {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 38px 0 29px 0;
      img {
        width: 18px;
        height: 24px;
        cursor: pointer;
      }
      span {
        font-family: "Poppins-SemiBold";
        color: #fff;
        font-size: 32px;
        letter-spacing: -0.704px;
      }
    }
    .types {
      display: flex;
      gap: 34px;
      padding-bottom: 10.6px;
      .type {
        position: relative;
        color: white;
        font-size: 16px;
        letter-spacing: -0.176px;
        cursor: pointer;

        &::after {
          display: none;
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          width: 110%;
          height: 4px;
          background: #ffb900;
          transform: translateX(-50%);
        }
      }
      .type.active {
        font-family: "Poppins-SemiBold";
        &::after {
          display: block;
        }
      }
    }
  }

  .social-friend-section2 {
    background: url("/assets/images/mockup/social/friend/Group 26086648.jpg")
      no-repeat;
    background-size: cover;
    background-position: top;
    padding: 25px 0;
    .wrapper {
      max-width: 1057px;
      margin: 0 auto;
    }
    .search {
      position: relative;
      max-width: 310px;
      margin-bottom: 11px;
      svg {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
    .info {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 17px;

      .friend-lists {
        .friend-lists-wrapper {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 8px;
          height: 710px;
          overflow: auto;
          padding-right: 6px;
          .item {
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 8px;
            border-radius: 16px;
            background: #fff;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
              background: rgba(84, 96, 203, 0.2);
              box-shadow: 1px 2px 4px 0px rgba(213, 224, 236, 0.7);
            }
            .friend-info {
              .footer {
                display: flex;
                align-items: center;
                gap: 23.5px;
                margin-top: 16px;

                span {
                  color: #5460cb;
                }
              }
            }
          }
          .item.active {
            background: rgba(84, 96, 203, 0.2);
            box-shadow: 1px 2px 4px 0px rgba(213, 224, 236, 0.7);
          }
        }
      }
      .chat {
        .start-chatting {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #5460cb;
          stroke-width: 1px;
          stroke: #d5e0ec;
          filter: drop-shadow(1px 2px 4px rgba(213, 224, 236, 0.7));
          border-radius: 16px;
          height: 100%;
          .wrapper {
            max-width: 221px;
            text-align: center;
            color: white;
          }
          h1 {
            margin: 16px 0 8px 0;
          }
        }
        .messages {
          background: white;
          border-radius: 16px;
          overflow: hidden;
          height: 100%;
          display: flex;
          flex-direction: column;
          .header {
            background: #5460cb;
            filter: drop-shadow(1px 2px 4px rgba(213, 224, 236, 0.7));
            padding: 14px 24px;
            color: white;
          }
          .content {
            flex-grow: 1;
            padding: 25px;
            height: 1px;
            overflow: auto;

            .message {
              display: flex;
              align-items: center;
              gap: 8.5px;
              margin-bottom: 31px;
              .text {
                input {
                  max-width: 235px;
                  color: #5460cb;
                  font-size: 14px;
                }
              }
            }
            .message:nth-child(even) {
              flex-direction: row-reverse;
            }
            .message:last-of-type {
              margin-bottom: 0;
            }
          }
          .footer {
            display: flex;
            gap: 8px;
            padding: 10px 5px;
            input {
              max-width: 322px;
            }
            button {
              width: 73px;
            }
          }
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 2px;
}
