<section id="home">
  <div class="inner">
    <div class="home-section1">

      <div class="wrapper">
        <div class="home-section1-1">
          <div class="text"><span>Welcome to</span><span>Grandora</span></div>
        </div>
        <div class="home-section1-2">
          <div class="content">
            <h3>Who are we?</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id
              tincidunt risus. Aliquam gravida dapibus odio at venenatis. Proin
              malesuada.
            </p>
          </div>
          <div class="btn-wrapper">
            <button type="button">
              <span>Download</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="home-section2">
      <div class="inner">
        <div class="content">
          <picture>
            <source
              media="(max-width: 450px)"
              srcset="/assets/images/home/update-21-11-66/roadmap-mobile.png"
            />
            <source
              media="(max-width: 992px)"
              srcset="/assets/images/home/update-21-11-66/roadmap-tablet.png"
            />
            <img
              src="/assets/images/home/update-21-11-66/roadmap-desktop.jpg"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="home-section3">
      <div class="inner">
        <h1>Create your own avatar</h1>
        <div class="avatar">
          <picture>
            <source
              media="(max-width: 450px)"
              srcset="/assets/images/home/update-21-11-66/avatar-mobile.png"
            />
            <source
              media="(max-width: 992px)"
              srcset="/assets/images/home/update-21-11-66/avatar-tablet.png"
            />
            <img
              src="/assets/images/home/update-21-11-66/avatar-desktop.png"
              alt="Chris standing up holding his daughter Elva"
            />
          </picture>
        </div>
        <div class="btn-wrapper">
          <button class="primary-btn-grandora">Soon!</button>
        </div>
      </div>
    </div>
    <div class="community">
      <app-community></app-community>
    </div>
  </div>
</section>
