<section id="community-page">
  <div class="inner">
    <div class="community-page-section1">
      <div class="text">
        <div class="sub-title">Lorem ipsum dolor</div>
        <div class="title">
          Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit
        </div>
      </div>
    </div>

    <div class="community-page-section2">
      <div class="wrapper">
        <div class="text">
          <div class="title">
            <h1>Join our Discord</h1>
            <img
              src="/assets/images/community-page/Discord 1.png"
              alt="discord-icon"
            />
          </div>
          <p>Convallis turpis erat tempus, viverra aliquet.</p>
          <div class="btn-wrapper">
            <button class="primary-btn-grandora large">Join now</button>
          </div>
        </div>
        <div class="image">
          <img
            src="/assets/images/community-page/Image Large.png"
            alt="image"
          />
        </div>
      </div>
    </div>

    <div class="community-page-section3">
      <div class="wrapper">
        <div class="image">
          <img src="/assets/images/community-page/image 2062.png" alt="image" />
        </div>
        <div class="text">
          <div class="title">
            <h1>Our Reddit</h1>
            <img
              src="/assets/images/community-page/image 2061.png"
              alt="reddit-icon"
            />
          </div>
          <p>Convallis turpis erat tempus, viverra aliquet.&lrm;</p>
          <div class="btn-wrapper">
            <button class="primary-btn-grandora large">Join now</button>
          </div>
        </div>
      </div>
    </div>

    <div class="community">
      <app-community></app-community>
    </div>
  </div>
</section>
