.other-games {
  .wrapper {
    max-width: 1057px;
    margin: 0 auto;
    padding: 20px 0;
  }
  h1.title {
    color: #5460cb;
    font-size: 24px;
    margin-bottom: 17px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    color: black;
    img {
      height: 160px;
      border-radius: 16px;
    }
    .text {
      padding: 12px 8px;
      .game-title {
        font-family: "Poppins-SemiBold";
        letter-spacing: -0.176px;
      }
      .liked {
        display: flex;

        gap: 8px;
        margin-top: 8px;
      }
    }
  }
}
